<!-- <form #f="ngForm" (ngSubmit)="clickSearch(f)">
    <p> <label>Category</label>


        <select [(ngModel)]="selectedCategory" name="category">
            <option *ngFor="let category of categories" [ngValue]="product">{{category.value}}</option> 
            <option></option>
          </select>



        <select id="selectedCategory">
          <option value="people">People</option>
          <option value="planets">Planets</option>
          <option value="vehicles">Vehicles</option>
          <option value="species">Species</option>
          <option value="starships">Starships</option>
        </select>
    </p>


    <p> <label>Quantity</label>
        <input type="number" [(ngModel)]="quantity" name="quantity" min="1" max="5" required>
    </p>
    <p> <button type="submit" [disabled]="!f.valid">Search</button>
    </p>
</form> -->

<button [routerLink]="['search']" >Search</button>
