.header {
    display: block;
    padding: 10px;
}
h1 {
    text-align: center;
}
.container {
    display: block;
    padding: 10px;
    clear: both;
}
.footer  {
    display: block;  
    padding: 10px;
    float: left;
}
