<div class="header">
  <h1 [ngStyle]="{'color':'purple'}">StarWars Search</h1>
</div>
<app-menu-bar></app-menu-bar>

<div class="container">
  <!-- must have a router-outlet element to host child routes -->
  <router-outlet></router-outlet> 
</div>

<div class="footer">
  <app-footer></app-footer>
</div>